// Typography Variables
$font-family-primary: 'Montserrat', 'Helvetica Neue', Arial, sans-serif;
$font-family-secondary: 'Oswald', 'Helvetica Neue', Arial, sans-serif;
$font-size-x-tiny: 9px;
$font-size-tiny: 11px;
$font-size-mini: 12px;
$font-size-x-small: 13px;
$font-size-smaller: 14px;
$font-size-small: 15px;
$font-size-base: 16px;
$font-size-medium: 17px;
$font-size-large: 18px;
$font-size-larger: 20px;
$font-size-x-large: 22px;
$font-size-2x-large: 36px;
$font-size-3x-large: 56px;
$font-size-4x-large: 76px;

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;

$line-height-loose: 2;
$line-height-base: 1.5;
$line-height-heading: 1.2;

$letter-spacing-normal: 0;
$letter-spacing-tight: -0.05em;
$letter-spacing-wide: 0.05em;

$color-white: #fff;
$color-black: #000;
$color-active-bg: #575757;
$color-text-light: #bbb;
$color-text-dim: #999;
$color-heading: #111;
$color-light: #dfdfdf;
//9, 11, 14, 16,  18, 36, 76
