.search-page {
  display: flex;
  flex: 1;
  gap: 20px;
  .search-filters {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 30%;
  }
  .search-content {
    display: flex;
    flex-direction: column;
    flex: 3;
    gap: 20px;
  }
  @media screen and (max-width: 1024px) {
    flex-direction: column;
    .search-filters {
      flex-direction: row;
    }
    .search-content {
      flex: 1;
    }
    
  }
}
