.search-input-container {
  .search {
    position: relative;
  }

  .results-container {
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.377);
    z-index: 200;
    position: absolute;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    min-height: 100px;
    max-height: 650px;
    border-radius: 25px;
    overflow: hidden;
    background-color: $color-white;
    display: grid;
    gap: 8px;
    max-height: 450px;
    overflow-y: auto;

    .section {
      padding: 32px;
      display: grid;
      gap: 10px;
      h4 {
        color: $color-text-dim;
        font-size: $font-size-small;
        font-weight: $font-weight-normal;
      }
    }
  }
}
